<header class="bg-body-tertiary p-2">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <a class="m-0 p-0" routerLink="/">
        <img class="m-0 p-0" style="width: 100px" src="logo.png" alt="" />
      </a>
      <div>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</header>
