<section>
  @if (randomVerse() && randomVerseAleatoryBook()) {
  <h1 class="pb-2">Versículos do dia</h1>
  <h3>
    {{ randomVerse()?.book?.name }} {{ randomVerse()?.chapter }}:{{
      randomVerse()?.number
    }}
  </h3>
  <p>
    {{ randomVerse()?.text }}
  </p>
  <h3>
    {{ randomVerseAleatoryBook()?.book?.name }}
    {{ randomVerseAleatoryBook()?.chapter }}:{{
      randomVerseAleatoryBook()?.number
    }}
  </h3>
  <p>
    {{ randomVerseAleatoryBook()?.text }}
  </p>
  } @else {
  <div class="spinner-container" data-test="home-loader">
    <div
      class="spinner-border"
      style="width: 5rem; height: 5rem; border-width: 0.5rem"
      role="status"
    ></div>
  </div>
  }
</section>
