<section>
  @if (chapters().length > 0) {
  <div class="d-flex justify-content-between mb-3">
    <div>
      <h1 data-test="book-detail-name">Livro: {{ book().name }}</h1>
      <h4 data-test="book-detail-author">Autor: {{ book().author }}</h4>
      <h5 data-test="book-detail-group">Grupo: {{ book().group }}</h5>
      <h5 data-test="book-detail-testament">
        Testamento: {{ book().testament }}
      </h5>
    </div>
    <button
      routerLink="/biblia"
      data-test="book-detail-back-button"
      class="btn btn-secondary align-self-start"
    >
      Voltar
    </button>
  </div>
  <h2>Capítulos</h2>
  <div class="d-flex gap-2 flex-wrap">
    @for (chapter of chapters(); track chapter) {
    <button
      routerLink="/biblia/{{ book().abbrev.pt }}/capitulo/{{ chapter }}"
      data-test="book-detail-chapter-button"
      class="btn btn-primary"
    >
      {{ chapter }}
    </button>
    }
  </div>
  } @else {
  <div class="spinner-container" data-test="book-detail-loader">
    <div
      class="spinner-border"
      style="width: 5rem; height: 5rem; border-width: 0.5rem"
      role="status"
    ></div>
  </div>
  }
</section>
