<section>
  @if (chapter()) {
  <div class="d-flex justify-content-between">
    <h1 class="mb-3" data-test="chapter-detail-book">
      {{ chapter()?.book?.name }} {{ chapter()?.chapter?.number }}
    </h1>
    <button
      routerLink="/biblia/{{ chapter()?.book?.abbrev?.pt }}"
      class="btn btn-secondary align-self-center"
      data-test="chapter-detail-back-button"
    >
      Voltar
    </button>
  </div>
  @for (verse of chapter()?.verses; track verse.number) {
  <p data-test="chapter-detail-verse">
    <small>{{ verse.number }}</small> {{ verse.text }}
  </p>
  } @if (explanationService.explanationLoading()) {
  <div data-test="chapter-detail-explanation-loader">
    <div
      class="spinner-border my-3"
      style="width: 4rem; height: 4rem; border-width: 0.4rem"
      role="status"
    ></div>
  </div>
  } @if (!explanationService.explanationLoading() &&
  explanationService.explanationVerse()) {
  <p
    class="alert alert-info"
    [innerHTML]="explanationService.explanationVerse()! | titleTransform"
    data-test="chapter-detail-explanation"
  >
    {{ explanationService.explanationVerse() }}
  </p>
  }
  <button
    (click)="onGenerateExplantion()"
    [disabled]="
      explanationService.explanationLoading() ||
      explanationService.explanationGenerated()
    "
    class="btn btn-primary my-3"
    data-test="chapter-detail-generate-explanation-button"
  >
    Gerar Explicação
  </button>
  <div class="d-flex justify-content-between">
    <button
      (click)="onPreviousChapter()"
      [disabled]="isFirstChapter()"
      class="btn btn-primary"
      data-test="chapter-detail-previous-button"
    >
      Anterior
    </button>
    <button
      (click)="onNextChapter()"
      [disabled]="isLastChapter()"
      class="btn btn-primary"
      data-test="chapter-detail-next-button"
    >
      Próximo
    </button>
  </div>
  } @else {
  <div class="spinner-container" data-test="chapter-detail-loader">
    <div
      class="spinner-border"
      style="width: 5rem; height: 5rem; border-width: 0.5rem"
      role="status"
    ></div>
  </div>
  }
</section>
